<header class="header">
    <div class="header-container">
        <nav class="header-navigation">
            <!-- LOGO -->
            <div class="logo-container">
                <ul class="logo-list list">
                    <li class="logo-list-item">
                        <a class="logo-text-link link" href="./index.html">SIMPLY<span class="logo-text">CHOCOLATE</span></a>
                    </li>
                    <li class="logo-list-item">
                         <a class="logo-icon-link link" href="./index.html">
                            <svg aria-label="chocolate" class="logo-icon" width="21" height="21">
                                 <use href="./img/icons.svg#icon-logo" ></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /LOGO -->
            <!-- MENU -->
            <ul class="nav-menu list">
                <li class="nav-menu-item">
                    <a class="nav-menu-item-link current link" href="#home">Home</a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-item-link link" href="#how-its-made">How it’s made?</a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-item-link link" href="#our-products">Our products</a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-item-link link" href="#top-sellers">Top sellers</a>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-item-link link" href="#chocolate-is-loved">Chocolate is loved</a>
                </li>
            </ul>
            <!-- /MENU -->
    
            <!-- SOCIAL-MEDIA -->
            <div class="header-social-media-container">
                <ul class="header-social-media-list list">
                    <li class="header-social-media-item">
                        <a class="header-social-media-link" href="https://www.instagram.com/" target="_blank" rel="noopener, noreferrer">
                            <svg aria-label="instagram" class="header-social-media-icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>    
                    </li>
                    <li class="header-social-media-item">
                        <a class="header-social-media-link" href="https://www.twitter.com/" target="_blank" rel="noopener, noreferrer">
                            <svg aria-label="twitter" class="header-social-media-icon" width="24" height="24">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /SOCIAL-MEDIA -->
        </nav>
        
        <!-- MOBILE-BURGER-BTN -->
        <button type="button" class="menu-burger-open-btn js-open-menu">
            <svg aria-label="menu-button" class="menu-burger-open-icon" width="28" height="28">
                <use href="./img/icons.svg#icon-mobile-burger"></use>
            </svg>
        </button>
        <!-- /MOBILE-BURGER-BTN -->
    </div>
</header>