<section class="section-hero">
  <h1 hidden>Chocolate delight</h1>
  <div class="container container-hero">
    <div class="container-bg-hero">
      <div class="wrap">
        <h2 class="title-hero">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <ul class="btn-list-hero">
          <li>
            <button
              type="button"
              class="btn-hero btn-hero-first"
              data-modal-open
            >
              Buy now
            </button>
          </li>
          <li>
            <a href="#howitsmade" class="btn-hero btn-hero-second">
              How it’s made
            </a>
          </li>
        </ul>
      </div>
      <a href="#footer" class="link-scroll">
        scroll down
        <span class="scroll-decor">
          <svg class="svg-check">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <h2 class="title-modal"><span class="color-title">Buy</span> now</h2>

    <button type="button" class="btn-close close-icon" data-modal-close>
      <svg class="close-svg">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="stuff-list">
      <li class="modal-item">
        <a href="" class="card-link">
          <picture>
            <source
              srcset="
                ./img/hero/order/order-1.webp    1x,
                ./img/hero/order/order-1@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/hero/order/order-1.png    1x,
                ./img/hero/order/order-1@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hero/order/order-mobile.webp    1x,
                ./img/hero/order/order-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./img/hero/order/order-mobile.png    1x,
                ./img/hero/order/order-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="img-card"
              src="./img/hero/order/order-1.png"
              alt="Black Chocolate"
            />
          </picture>

          <p class="price-link">100 g</p>
        </a>
      </li>
      <li class="modal-item">
        <a href="" class="card-link">
          <picture>
            <source
              srcset="
                ./img/hero/order/order-2.webp    1x,
                ./img/hero/order/order-2@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hero/order/order-2.png    1x,
                ./img/hero/order/order-2@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hero/order/order-mobile-2.webp    1x,
                ./img/hero/order/order-mobile-2@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./img/hero/order/order-mobile-2.png    1x,
                ./img/hero/order/order-mobile-2@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="img-card"
              src="./img/hero/order/order-2.png"
              alt="Cake"
            />
          </picture>
          <p class="price-link">200 g</p>
        </a>
      </li>
      <li class="modal-item">
        <a href="" class="card-link">
          <picture>
            <source
              srcset="
                ./img/hero/order/order-3.webp    1x,
                ./img/hero/order/order-3@2x.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hero/order/order-3.png    1x,
                ./img/hero/order/order-3@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./img/hero/order/order-3-mobile.webp    1x,
                ./img/hero/order/order-3-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width: 767px)"
            />

            <source
              srcset="
                ./img/hero/order/order-3-mobile.png    1x,
                ./img/hero/order/order-3-mobile@2x.png 2x
              "
              media="(max-width: 767px)"
            />

            <img
              class="img-card"
              src="./img/hero/order/order-3.png"
              alt="Milk Chocolate"
            />
          </picture>
          <p class="price-link">300 g</p>
        </a>
      </li>
    </ul>

    <form class="form-list">
      <ul>
        <li class="form-wrapper">
          <label class="form-text" for="name">Personal information </label>
          <input
            type="text"
            name="name"
            class="input-form input-form-tablet input-mr-none"
            required
            placeholder="Name"
            id="name"
            pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
          />
          <input
            type="text"
            name="surname"
            class="input-form input-form-tablet input-mr"
            required
            placeholder="Surname"
            id="surname"
            pattern="[a-zA-Zа-яА-ЯіІїЇґҐєЄ']+"
          />
        </li>
        <li class="form-wrapper">
          <label class="form-text label-mail-mr form-wrapper"
            >Email
            <input
              type="email"
              name="email"
              class="input-form"
              required
              placeholder="Enter your email"
              pattern="[a-zA-Z@.]+"
            />
          </label>
        </li>

        <li class="form-wrapper position-wrap">
          <label class="form-text"
            >Phone number

            <input
              type="tel"
              name="tel"
              class="input-form imput-phone"
              required
              placeholder="Phone number"
              pattern="[0-9]+"
            />
          </label>

          <div class="wraper-phone">
            <svg class="icons-input" width="24" height="24">
              <use href="./img/hero/icons.svg#icon-ukraine"></use>
            </svg>
            <p class="text-number">+380</p>
          </div>
        </li>
        <li class="wraper-card">
          <label for="card" class="form-text form-wrapper"
            >Card number

            <input
              name="card"
              class="input-form"
              required
              placeholder="Enter card"
              type="tel"
              id="card"
              pattern="[0-9]+"
            />

            <svg width="22" height="14" class="icons-input-mc">
              <use href="../img/hero/icons.svg#icon-mastercard"></use>
            </svg>
          </label>
        </li>
        <li class="form-wrapper">
          <label for="comment" class="form-text form-wrapper"
            >Comment
            <textarea
              name="comment"
              id="comment"
              class="textarea-input"
              placeholder="Enter text"
            ></textarea>
          </label>
        </li>
      </ul>

      <button type="submit" class="btn-submit">Submit</button>
    </form>
  </div>
</div>

<script src="../js/modal-hero.js"></script>
