<section class="section-hero">
  <h1 hidden>Chocolate delight</h1>
  <div class="container container-hero">
    <div class="container-bg-hero">
      <div class="wrap">
        <h2 class="title-hero">
          Treat yourself or a loved one to our finest ingredients for a moment
          of pure delight!
        </h2>
        <ul class="btn-list-hero">
          <li>
            <button
              type="button"
              class="btn-hero btn-hero-first js-open-modal"
              data-modal="3"
            >
              Buy now
            </button>
          </li>
          <li>
            <a href="#how-its-made" class="btn-hero btn-hero-second">
              How it’s made
            </a>
          </li>
        </ul>
      </div>
      <a href="#footer" class="link-scroll">
        scroll down
        <span class="scroll-decor">
          <svg class="svg-check">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </span>
      </a>
    </div>
  </div>
</section>
