<section  class="made-section">
    <div class="container">
      <h2 class="made-section-title" id="how-its-made">
        HOW IT’S <span class="made-section-title-secondory-color">MADE?</span>
      </h2>
      <div class="made-picture-and-recipe">
        <div class="made-thumb">
          <iframe
            class="video-clip"
            src="https://www.youtube.com/embed/isPBNSFRMXg"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>

          <picture class="made-picture">
            <source
              srcset="
                ./img/how-its-made/descktop-made.jpg    1x,
                ./img/how-its-made/descktop-made@2x.jpg 2x
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./img/how-its-made/descktop-made.webp    1x,
                ./img/how-its-made/descktop-made@2x.webp 2x
              "
              media="(min-width:1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/how-its-made/tablet-made.jpg    1x,
                ./img/how-its-made/tablet-made@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./img/how-its-made/tablet-made.webp    1x,
                ./img/how-its-made/tablet-made@2x.webp 2x
              "
              media="(min-width:768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/how-its-made/mobile-made.jpg    1x,
                ./img/how-its-made/mobile-made@2x.jpg 2x
              "
              media="(min-width:375px)"
            />
            <source
              srcset="
                ./img/how-its-made/mobile-made.webp    1x,
                ./img/how-its-made/mobile-made@2x.webp 2x
              "
              media="(min-width:375px)"
              type="image/webp"
            />
            <img loading=lazy
              class="made-image"
              src="./img/how-its-made/mobile-made.jpg"
              alt="photo of chocolate making"
            />
          </picture>
          <svg class="icon-on-image" width="35" height="35">
            <use href="./img/icons.svg#icon-play"></use>
          </svg>
        </div>
        <div class="made-recipe-wrapper">
               <h3 class="made-recipe-subtitle">
              Try our chocolates today and discover the perfect balance of
              flavor
            </h3>
            <ul class="made-recipe-list list">
              <li class="made-recipe-item item">
                <p class="made-recipe-step">
                  Heat the milk in a saucepan without bringing it to a boil.
                  Add sugar and cocoa powder.
                </p>
              </li>
              <li class="made-recipe-item item">
                <p class="made-recipe-step">
                  At the same time, prepare a water bath. Melt the butter on
                  it.
                </p>
              </li>
              <li class="made-recipe-item item">
                <p class="made-recipe-step">
                  "Mix" the milk mixture and already liquid butter. Mix
                  thoroughly&nbsp;with a silicone spatula so that the mass becomes
                  uniform and silky.
                </p>
              </li>
              <li class="made-recipe-item item">
                <p class="made-recipe-step">
                  Heat the mixture over low heat, letting it barely boil.
                </p>
              </li>
              <li class="made-recipe-item item">
                <p class="made-recipe-step">
                  Pour the chocolate into special containers (can be replaced
                  with&nbsp;ice molds). Allow to cool and harden.
                </p>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </section>
