<div class="backdrop is-hidden" data-modal-s>
  <div class="subscribe-modal">
    <div class="subscribe-modal-picture">
      <picture>
        <source
          srcset="
            ./img/subscribe/subscribe-chocolate-tablet-desktop@1x.jpg 1x,
            ./img/subscribe/subscribe-chocolate-tablet-desktop@2x.jpg 2x
          "
          media="(min-width: 768px)"
          width="538"
        />

        <source
          srcset="
            ./img/subscribe/subscribe-chocolate-mobile@1x.jpg 1x,
            ./img/subscribe/subscribe-chocolate-mobile@2x.jpg 2x
          "
          media="(max-width: 767px)"
          width="311"
        />

        <img
          class="subscribe-modal-img"
          src="/src/img/subscribe/subscribe-chocolate-mobile@1x.jpg"
          alt="New chocolate"
        />
      </picture>
    </div>
    <h2 class="subscribe-modal-title">
      Explore our<br /><span class="subscribe-modal-title-span"
        >new chocolate</span
      >
      first!
    </h2>
    <form class="subscribe-email-form">
      <input
        class="subscribe-email-input"
        type="email"
        name="user_email"
        placeholder="Enter your email"
        pattern="[a-zA-Z0-9._\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        title="example@email.com"
        autofocus
        required
      />
      <button type="submit" class="subscribe-form-btn">
        <span class="subscribe-form-btn-submit">Submit</span>
        <span class="subscribe-form-btn-subscribe">Subscribe</span>
      </button>
    </form>

    <button type="button" class="subscribe-modal-close-btn" data-modal-close-s>
      <svg class="subscribe-modal-close-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</div>
