<section class="our-products-container">
  <div class="container">
    <h2 id="our-products" class="our-products-title">
      our
      <span class="our-products-title-span">products</span>
    </h2>
    <div class="swiper-p mySwiper">
      <ul class="swiper-wrapper swiper-gap">
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-orange-chocolate-230-webp.webp    1x,
                ./img/our-products/our-products-orange-chocolate-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-orange-chocolate-230-jpeg.jpg    1x,
                ./img/our-products/our-products-orange-chocolate-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-orange-chocolate-230-jpeg.jpg"
              alt="Dark chocolate"
              class="our-products-card-img"
            />
          </picture>
          <h3 class="our-products-item-title">orange</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">45 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-apple-cranberry-230-webp.webp    1x,
                ./img/our-products/our-products-apple-cranberry-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-apple-cranberry-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-apple-cranberry-230-jpeg.jpg"
              alt="Milk chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">APPLE&CRANBERRY</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button type="button" class="our-products-item-price">50 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-lime-sea-salt-230-webp.webp    1x,
                ./img/our-products/our-products-lime-sea-salt-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-lime-sea-salt-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-lime-sea-salt-230-jpeg.jpg"
              alt="Dark chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">lime&sea salt</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">66 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-pine-apple-230-webp.webp    1x,
                ./img/our-products/our-products-pine-apple-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-pine-apple-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-pine-apple-230-jpeg.jpg"
              alt="Dark chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">pineapple</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">54 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-classic-milk-choc-230-webp.webp    1x,
                ./img/our-products/our-products-classic-milk-choc-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-classic-milk-choc-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-classic-milk-choc-230-jpeg.jpg"
              alt="Milk chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button type="button" class="our-products-item-price">45 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-honey-230-webp.webp    1x,
                ./img/our-products/our-products-honey-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="./img/our-products/our-products-honey-230-jpeg-2x.jpg 2x"
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-honey-230-jpeg.jpg"
              alt="Milk chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">honey</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <button type="button" class="our-products-item-price">50 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-roasted-fruits-230-webp.webp    1x,
                ./img/our-products/our-products-roasted-fruits-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-roasted-fruits-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-roasted-fruits-230-jpeg.jpg"
              alt="Dark chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">Roasted fruits</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <button type="button" class="our-products-item-price">66 uah</button>
        </li>
        <li
          class="swiper-slide swiper-slider-substitute first-item slide-products"
        >
          <picture>
            <source
              srcset="
                ./img/our-products/our-products-classic-white-choc-1x-webp.webp     1x,
                ./img/our-products/our-products-classic-white-choc-230-webp-2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./img/our-products/our-products-classic-white-choc-230-jpeg-2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./img/our-products/our-products-classic-white-choc-230-jpeg.jpg"
              alt="White chocolate"
            />
          </picture>
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">White chocolate</p>
          <button type="button" class="our-products-item-price">54 uah</button>
        </li>
      </ul>
    </div>
    <div class="swiper-scrollbar"></div>
    <div class="swiper-pagination-p"></div>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
