<div class="our-products-container">
  <section class="our-products-section">
    <h2 class="our-products-title">
      our
      <span class="our-products-title-span">products</span>
    </h2>
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide first-item">
          <img
            srcset="
              ../img/our-products/our-products-orange-chocolate-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-orange-chocolate-230-jpeg.jpg"
            alt="orange dark chockolate"
            class="our-products-card-img"
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">orange</h3>
          <p class="our-products-item-text">dark chocolate</p>
          <div class="our-products-item-price">45 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ../img/our-products/our-products-apple-cranberry-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-apple-cranberry-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">APPLE&CRANBERRY</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <div class="our-products-item-price">50 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ../img/our-products/our-products-lime-sea-salt-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-lime-sea-salt-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">lime&sea salt</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <div class="our-products-item-price">66 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ../img/our-products/our-products-pine-apple-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-pine-apple-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">pineapple</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <div class="our-products-item-price">54 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ../img/our-products/our-products-classic-milk-choc-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-classic-milk-choc-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <div class="our-products-item-price">45 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="../img/our-products/our-products-honey-230-jpeg-2x.jpg 2x"
            src="../img/our-products/our-products-honey-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">honey</h3>
          <p class="our-products-item-text">Milk chocolate</p>
          <div class="our-products-item-price">50 uan</div>
        </li>
        <li class="swiper-slide">
          <img
            srcset="
              ../img/our-products/our-products-roasted-fruits-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-roasted-fruits-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">Roasted fruits</h3>
          <p class="our-products-item-text">Dark chocolate</p>
          <div class="our-products-item-price">66 uan</div>
        </li>
        <li class="swiper-slide last-item">
          <img
            srcset="
              ../img/our-products/our-products-classic-white-choc-230-jpeg-2x.jpg 2x
            "
            src="../img/our-products/our-products-classic-white-choc-230-jpeg.jpg"
            alt=""
            width="230"
            height="201"
          />
          <div class="our-products-card-description"></div>
          <h3 class="our-products-item-title">Classic</h3>
          <p class="our-products-item-text">White chocolate</p>
          <div class="our-products-item-price">54 uan</div>
        </li>
      </ul>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
    </div>
    <div class="swiper-pagination"></div>
  </section>
</div>

<script src="../js/slider.js"></script>
