<section class="reviews">
  <div class="reviews-container container">
    <h2 class="section-subtitle" id="chocolate-is-loved">
      <span class="accent-color">Chocolate</span> is loved
    </h2>
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/victoria.webp    1x,
                  ./img/reviews/victoria@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/victoria.png    1x,
                  ./img/reviews/victoria@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/victoria.png"
                alt="victoria"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Victoria Dobrzhanska</h3>
              <p class="reviews-card-text">
                I love this chocolate bar. Perfect combination of light crispy
                wafer, covered in a thin layer chocolate.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/nazar.webp    1x,
                  ./img/reviews/nazar@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/nazar.png    1x,
                  ./img/reviews/nazar@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/nazar.png"
                alt="nazar"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Nazar Babenko</h3>
              <p class="reviews-card-text">
                This chocolate confection is a delight! A delight! The wafer is
                light and crisp, the hazelnut cream is smooth, and the chocolate
                is good.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/olena.webp    1x,
                  ./img/reviews/olena@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/olena.png    1x,
                  ./img/reviews/olena@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/olena.png"
                alt="olena"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Olena Kampusch</h3>
              <p class="reviews-card-text">
                Chocolate is a family favourite treat. Love the delicious smooth
                chocolate and the creaminess inside. The wafer is soft but
                crunchy.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/natalia.webp    1x,
                  ./img/reviews/natalia@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/natalia.png    1x,
                  ./img/reviews/natalia@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/natalia.png"
                alt="natalia"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Natalia Sus</h3>
              <p class="reviews-card-text">
                The chocolate assortment was delicious. Both dark and milk
                chocolate pieces were smooth and just right on the sweetness
                level.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/danilo.webp    1x,
                  ./img/reviews/danilo@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/danilo.png    1x,
                  ./img/reviews/danilo@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/danilo.png"
                alt="danilo"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Danilo Nottingham</h3>
              <p class="reviews-card-text">
                This is delicious. It so rich and flavorful you don’t need to
                use as many. I love topping an apple with almond butter and
                these chips for a snack.
              </p>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-item item">
            <picture>
              <source
                srcset="
                  ./img/reviews/irina.webp    1x,
                  ./img/reviews/irina@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                srcset="
                  ./img/reviews/irina.png    1x,
                  ./img/reviews/irina@2x.png 2x
                "
                type="image/png"
              />
              <img loading=lazy
                class="reviews-image"
                src="./img/reviews/irina.png"
                alt="irina"
              />
            </picture>
            <div class="reviews-card-info-wrapper">
              <h3 class="reviews-card-name">Irina Tydnyuk</h3>
              <p class="reviews-card-text">
                This is simply the best chocolate around, and I'm just thrilled
                to support a local company! Best local chocolate - world class
                :)
              </p>
            </div>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <button class="reviews-button js-open-modal" data-modal="1" type="button">
      Leave a review
    </button>
  </div>
</section>
