<section class="top_sellers_section section">
    <div class="top_seller_conteiner">
        <h2 class="top_sellers_title">
            <span class="top_seller_accent">Top </span>seller
        </h2>
        <ul class="top_sellers_list list">
            <li class="top_sellers_item ">
                <div>
                    <picture class="top_sellers_pic">
                        <source
                            srcset="./img/top_seller/chocolate_nuts.webp 1x, ./img/top_seller/chocolate_nuts@2x.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="./img/top_seller/chocolate_nuts_tab.webp 1x, ./img/top_seller/chocolate_nuts_tab@2x.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="./img/top_seller/chocolate_nuts_mob.webp 1x, ./img/top_seller/chocolate_nuts_mob@2x.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <img src="./img/top_seller/chocolate_nuts.jpg" class="top_sellers_pic"
                            alt="chocolate with nuts" />
                    </picture>
                    <p class="top_seller_text">
                        Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has
                        been around for
                        thousands of years and was first discovered by the Native American tribe called the Mayans.
                    </p>
                </div>

            </li>
            <li class="top_sellers_item">
                <picture class="top_sellers_pic">
                    <source
                        srcset="./img/top_seller/chocolate_mint_mob.webp  1x, ./img/top_seller/chocolate_mint_mob@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source
                        srcset="./img/top_seller/chocolate_mint_tab.webp  1x, ./img/top_seller/chocolate_mint_tab@2x.webp 2x"
                        media="(max-width: 1199px)" type="image/webp" />
                    <source
                        srcset="./img/top_seller/chocolate_mint.webp  1x, ./img/top_seller/chocolate_mint@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <img src="./img/top_seller/chocolate_mint@2x.jpg" class="top_sellers_pic" alt="chocolate with mint"
                        width="368" />
                </picture>
            </li>
            <li class="top_sellers_item top_sellers_item_only_pc">
                <img class="top_sellers_pic"
                    srcset="./img/top_seller/chocolate.webp  1x, .src/img/top-sellerchocolate@2x.webp 2x"
                    type="image/webp" src=./img/top_seller/chocolate.jpg alt="chocolate" />
            </li>

        </ul>
        <div class="top_sellers_bottom_info">
            <p class="top_seller_paragraf">
                Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been
                around for
                thousands of years and was first discovered by the Native American tribe called the Mayans.
            </p>
            <button type="button" class="top_seller_button" data-modal-open>
                Buy now
            </button>
        </div>
    </div>
</section>