<section class="uniq-components">
  <div class="container">
    <h2 class="uniq-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="colortext">TASTE</span> SENSATION
    </h2>
    <p class="uniq-par">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>
    <ul class="uniq-list list link">
      <li class="menu-item">
        <div class="uniq-div">
          <picture>
            <source
              srcset="
                ./img/unique_components/desk-milkchocolate.webp 1x,
                ./img/unique_components/desk-milkchocolate2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/tablet-milkchocolate.webp 1x,
                ./img/unique_components/tablet-milkchocolate2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/desk-milkchocolate.png  1x,
                ./img/unique_components/desk-milkchocolate2x.png 2x
              "
              media="(min-width: 1200px)"
              
              
            />
            <source
              srcset="
                ./img/unique_components/tablet-milkchocolate.png 1x,
                ./img/unique_components/tablet-milkchocolate2x.png 2x
              "
              media="(min-width: 320px)"
              
            />
            <img
              class=""
              src="../img/unique_components/desk-milkchocolate.png"
              alt="milkchocolate"
            />
          </picture>
          <p class="uniq-sec">MILK CHOCOLATE</p>
          <div class="overlay">
            <h2 class="uniq-name">Milk chocolate</h2>
            <div class="button-wrapper">
                <h3 class="uniq-text">chocolate</h3>
                <h3 class="uniq-current-text">the benefits</h3>
            </div>
            
            <p class="uniq-add-par">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div class="uniq-div">
          <picture>
            <source
              srcset="
                ./img/unique_components/desk-milk.webp 1x,
                ./img/unique_components/desk-milk2x.webp 2x
              "
              media="(min-width: 1200px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/tablet-milk.webp 1x,
                ./img/unique_components/tablet-milk2x.webp 2x
              "
              media="(min-width: 320px)"
              sizes=""
              type="image/webp"
            />
            <source
            srcset="
              ./img/unique_components/desk-milk1x.png 1x,
              ./img/unique_components/desk-milk2x.png 2x
            "
            media="(min-width: 1200px)"
            
          />
          <source
            srcset="
              ./img/unique_components/tablet-milk1x.png 1x,
              ./img/unique_components/tablet-milk2x.png 2x
            "
            media="(min-width: 320px)"
            
          />
            <img src="../img/unique_components/desk-milk1x.png" alt="milk" />
          </picture>
          <p class="uniq-add-sec">Milk</p>
          <div class="overlay">
            <h2 class="uniq-name">Milk</h2>
            <div class="button-wrapper">
                <h3 class="uniq-text-n">milk</h3>
                <h3 class="uniq-current-text">the benefits</h3>
            </div>
            <p class="uniq-add-par">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div class="uniq-div">
          <picture>
            <source
              srcset="
                ./img/unique_components/desk-nuts.webp 1x,
                ./img/unique_components/desk-nuts2x.webp 2x
              "
              media="(min-width: 1200px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/tablet-nuts.webp 1x,
                ./img/unique_components/tablet-nuts2x.webp 2x
              "
              media="(min-width: 320px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/desk-nuts1x.png 1x,
                ./img/unique_components/desk-nuts2x.png 2x
              "
              media="(min-width: 1200px)"
              
            />
            <source
              srcset="
                ./img/unique_components/tablet-nuts1x.png 1x,
                ./img/unique_components/tablet-nuts2x.png 2x
              "
              media="(min-width: 320px)"
              
            />
            <img src="../img/unique_components/desk-nuts.png" alt="nuts" />
          </picture>
          <p class="uniq-sec">nuts</p>
          <div class="overlay">
            <h2 class="uniq-name">Nuts</h2>
            <div class="button-wrapper">
                <h3 class="uniq-text-n">nuts</h3>
                <h3 class="uniq-current-text">the benefits</h3>
            </div>
            <p class="uniq-add-par">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>
      <li class="menu-item">
        <div class="uniq-div">
          <picture>
            <source
              srcset="
                ./img/unique_components/desk-chocolate.webp 1x,
                ./img/unique_components/desk-chocolate2x.webp 2x
              "
              media="(min-width: 1200px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/tablet-chocolate.webp 1x,
                ./img/unique_components/tablet-chocolate2x.webp 2x
              "
              media="(min-width: 320px)"
              sizes=""
              type="image/webp"
            />
            <source
              srcset="
                ./img/unique_components/desk-chocolate1x.png 1x,
                ./img/unique_components/desk-chocolate2x.png 2x
              "
              media="(min-width: 1200px)"
              
            />
            <source
              srcset="
                ./img/unique_components/tablet-chocolate1x.png 1x,
                ./img/unique_components/tablet-chocolate2x.png 2x
              "
              media="(min-width: 320px)"
              
            />
            <img src="./img/unique_components/desk-chocolate1x.png" alt="chocolate" />
          </picture>
          <p class="uniq-add-sec">SEMI-SWEET CHOCOLATE</p>
          <div class="overlay">
            <h2 class="uniq-name">semi - sweet chocolate</h2>
            <div class="button-wrapper">
                <h3 class="uniq-text-s">sweet chocolate</h3>
                <h3 class="uniq-current-text">the benefits</h3>
            </div>
            <p class="uniq-add-par">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of
              the best ways to gain an understanding of this type of chocolate is
              to compare it to a different type of chocolate. Semisweet is darker
              than milk chocolate. In a taste comparison, it has a slightly bitter
              taste whereas milk chocolate is sweeter and more mellow.
          </div>
          
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
