.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    max-width: 375px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

/* == LOGO ==*/
.logo-container {
    display: flex;
}

.logo-text {
   margin-left: 5px;
   font-style: normal;
}

.logo-list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
}

.logo-text-link {
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.03em;
    color: var(--primary-text-color);
}

.logo-icon-link {
    display: flex;
}

.logo-container {
    animation: bounceOut;
    animation-duration: 1000ms;
    animation-delay: 700ms;
 }

.logo-icon-link .logo-icon {
    animation: heartBeat;
    animation-delay: 1700ms;
    animation-duration: 2300ms;
 }

/* == /LOGO ==*/

.menu-burger-open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

current {
    color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
    .nav-menu {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-social-media-list {
        display: none;
    }
    
    .menu-burger-open-btn {
       background-color: transparent;
       border: none;
       padding: 0;
    }

    .menu-burger-open-btn:active .menu-burger-open-icon {
        animation: fadeOutUpBig;
        animation-duration: 7000ms;
    }

    .menu-burger-open-icon {
        stroke: var(--primary-text-color);
    }
}


@media screen and (min-width: 768px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-container {
        max-width: 768px;
        padding: 0 32px;
    }

    .menu-burger-open-icon {
        width: 32px;
        height: 32px;
    }
    
    .mobile-menu-close-icon {
        width: 32px;
        height: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        max-width: 1200px;
    }

    .header {
        padding-bottom: 32px;
    }

    .header-navigation {
        display: flex;
        align-items: center;
    }

    .menu-burger-open-btn {
        display: none;
    }

    .logo-text {
        margin-left: 7px;
     }

    .logo-text-link {
        font-size: 18px;
        line-height: 1.11;
        color: var(--primary-text-color);
    }

    .logo-icon {
       width: 24px;
       height: 24px; 
    }

    .logo-list {
      margin-right: 188px;  
    }

    .nav-menu {
        display: flex;
        column-gap: 24px;
    }

    .header-social-media-icon {
        stroke: var(--primary-text-color);
        fill: transparent;
    }

    .nav-menu-item-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14px;
        letter-spacing: -0.02em;
        color: var(--primary-text-color);
        transition: color var(--transition-text);
    }

    .nav-menu-item-link:hover,
    .nav-menu-item-link:focus {
        color: var(--accent-color);
    }

    .header-social-media-container {
        margin-left: auto;
    }

    .header-social-media-list {
        display: flex;
        column-gap: 18px;
    }

    .header-social-media-link {
        display: flex;
        justify-content: center;
    }

    .header-social-media-link:hover .header-social-media-icon,
    .header-social-media-link:focus .header-social-media-icon{
        stroke: var(--accent-color);
        animation: heartBeat;
        animation-duration: 2000ms;
        transition: stroke var(--transition-btn);
     }

}