:root {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

/* ------------CONTAINER------------ */

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;

    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* --------------FONTS------------ */

@font-face {
  font-family: 'Montserrat', sans-serif;

  src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
}

/* ----------HERO-MOBILE-375PX------------ */

.section-hero {
  margin-top: 14px;
  background-color: --primary-background-color;
  /* margin-right: auto;
  margin-left: auto; */
}

.container-bg-hero {
  padding-top: 395px;
  padding-bottom: 20px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../img/hero/chocolate-mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
}

@media (min-device-ratio: 2) and (max-width: 727px),
  (min-resolution: 192dpi) and (max-width: 727px),
  (min-resolution: 2dppx) and (max-width: 727px) {
  .container-bg-hero {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url(../img/hero/chocolate-mobile@2x.jpg);
  }
}

.title-hero {
  text-align: start;
  max-width: 280px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: var(--first-color);
}
.btn-list-hero {
  margin-top: 32px;
  display: flex;
  gap: 14px;
  align-items: center;
}
.btn-hero {
  display: block;
  border-radius: 100px;
  padding: 12px 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--first-color);
}
.btn-hero-first {
  max-width: 120px;
  background-color: var(--accent-color);
  border: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero-first:hover,
.btn-hero-first:focus {
  background-color: var(--background-color-hero);
  color: var(--accent-color);
}

.btn-hero-second {
  background-color: inherit;
  border: 1px solid #ffffff;
  text-decoration: none;

  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero-second:hover,
.btn-hero-second:focus {
  color: var(--accent-color);
  background-color: var(--first-color);
  border: 1px solid #fd9222;
}

.link-scroll {
  text-decoration: none;
  margin-top: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  color: var(--first-color);

  letter-spacing: -0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-scroll:hover,
.link-scroll:focus {
  color: var(--accent-color);
}

.scroll-decor {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */

  color: var(--accent-color);
  background-color: var(--first-color);
  border-radius: 50%;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-scroll:hover .scroll-decor,
.link-scroll:focus .scroll-decor {
  background-color: var(--accent-color);
  color: #ffffff;
}

.svg-check {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

/*-- MODAL -- */

.backdrop {
  overflow: scroll;

  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.5);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  overflow: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  background-color: var(--primary-background-color);
  border-radius: 15px;

  padding-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 32px;
}

@media screen and (max-width: 374px) {
  .modal {
    max-width: 95vw;

    /* width: 95%;
    min-width: 311px;
    height: 95%;
    max-height: 584px; */
  }
}

.close-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  position: absolute;
  right: 14px;
  top: 14px;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;

  background-color: inherit;
  border: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover {
  background-color: var(--background-color-hero);
  color: var(--accent-color);
}

.close-svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

/* .close-icon:hover .close-svg {
  width: 16px;
  height: 16px;
} */

.title-modal {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.color-title {
  color: var(--accent-color);
}

.modal-item {
  width: 100%;

  background: var(--first-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;

  padding: 7px 15px;
}

.modal-item:not(:first-child) {
  margin-top: 8px;
}

.card-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.img-card {
  width: 84px;
  height: 69px;
}

.price-link {
  background-color: var(--primary-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 6px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  min-width: 73px;
  color: #111111;
}

.form-list {
  margin-top: 32px;
}

.input-form {
  padding-left: 18px;
  border: none;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  min-width: 100%;
  height: 45px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.position-wrap {
  position: relative;
}

.input-form:focus,
.textarea-input:focus {
  outline: none;
}

.form-text {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}

.input-form::placeholder,
.input-form-tablet::placeholder {
  font-size: 14px;
  line-height: 1.21px;

  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

.input-form {
  margin-top: 8px;
}

.input-mr {
  margin-top: 14px;
}
.label-mail-mr {
  margin-top: 18px;
}

.imput-wrap {
  position: relative;
}

.wraper-phone {
  position: absolute;
  left: 18px;
  top: 50%;

  display: flex;
  align-items: center;
  gap: 8px;
}

.form-wrapper {
  margin-bottom: 18px;
}

.textarea-input {
  padding-top: 14px;
  padding-left: 18px;
  margin-top: 8px;
  border: none;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;
  min-width: 100%;

  height: 91px;
  resize: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;

  letter-spacing: -0.02em;

  color: rgba(64, 64, 64, 0.3);
}

.imput-phone {
  position: relative;
  padding-left: 106px;
}

.text-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
}

.text-number::after {
  position: absolute;
  bottom: -1px;
  right: -12px;

  display: block;
  content: '';
  width: 1px;
  height: 25px;
  background-color: rgba(17, 17, 17, 0.1);
}

.wraper-card {
  position: relative;
}

.icons-input-mc {
  width: 32px;
  height: 21px;
  position: absolute;
  top: 50%;
  right: 14px;
}

.btn-submit {
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.24;
  min-width: 109px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--first-color);
  background-color: var(--accent-color);

  border-radius: 100px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover {
  color: var(--accent-color);
  background-color: var(--background-color-hero);
}

/* ------------TABLET----------------- */

@media screen and (min-width: 768px) {
  .container-bg-hero {
    background-image: url(../img/hero/chocolate-tb.jpg);
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  .container-hero {
    padding-right: 32px;
    padding-left: 32px;
  }

  .container-bg-hero {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .title-hero {
    max-width: 484px;
    font-size: 28px;
    line-height: 1.21;
  }

  /* ---------------Modal-tablet------------ */

  .modal {
    width: 609px;
    padding: 48px;
    overflow: auto;
  }

  .stuff-list {
    display: flex;
    justify-content: space-between;
  }

  .card-link {
    flex-direction: column;
    gap: 14px;
  }

  .title-modal {
    font-size: 24px;
    line-height: 1.17;
  }

  .modal-item {
    flex-basis: calc((100% - 32px) / 3);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 18px;
  }

  .modal-item:not(:first-child) {
    margin-top: 0;
  }

  .form-text {
    font-size: 14px;
    line-height: 1.28;
  }
  .img-card {
    width: 120px;
    height: 107px;
  }

  .wraper-tablet-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-form-tablet {
    min-width: 246px;
    height: 66px;
  }

  .input-form {
    position: relative;
    height: 66px;
  }

  .textarea-input {
    height: 137px;
  }

  .btn-submit {
    min-width: 133px;
  }

  .input-mr {
    margin-left: 16px;
  }

  .input-mr,
  .input-mr-none {
    margin-top: 8px;
  }

  .input-form::placeholder,
  .input-form-tablet::placeholder {
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: -0.02em;
  }

  .textarea-input::placeholder {
    font-size: 18px;
    line-height: 1.22;

    letter-spacing: -0.02em;
  }

  .wraper-phone {
    top: 61%;
    left: 24px;
    transform: translateY(-43%);
  }

  .imput-phone {
    padding-left: 155px;
  }

  .text-number {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    transform: translateY(2px);
  }

  .text-number::after {
    right: -24px;
  }

  .close-icon {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .icons-input {
    width: 32px;
    height: 32px;
  }

  .icons-input-mc {
    width: 44px;
    height: 30px;
  }

  .btn-hero-second {
    min-width: 144px;
  }

  .btn-hero-second {
    min-width: 183px;
  }

  .price-link {
    padding: 8px 28px;
    min-width: 96px;
  }

  .close-svg {
    width: 28px;
    height: 28px;
  }

  .form-list {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container-bg-hero {
    padding-top: 671px;
    background-image: url(../img/hero/chocolate-tb.jpg);
  }
}

@media (min-device-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .container-bg-hero {
    background-image: url(../img/hero/chocolate-tb@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .container-bg-hero {
    padding-top: 381px;
    padding-bottom: 40px;
    background-image: url(../img/hero/hero-bg@1x.jpg);
  }

  .btn-hero-first {
    min-width: 144px;
  }

  .btn-hero-second {
    display: flex;
    justify-content: center;
    min-width: 183px;
  }

  .link-scroll {
    font-size: 14px;
    line-height: 1.29;
  }

  .scroll-decor {
    width: 38px;
    height: 38px;
  }

  .svg-check {
    width: 22px;
    height: 22px;
  }
}

@media (min-device-ratio: 2) and (min-width: 1199px),
  (min-resolution: 192dpi) and (min-width: 1199px),
  (min-resolution: 2dppx) and (min-width: 1199px) {
  .container-bg-hero {
    background-image: url(../img/hero/hero-bg@2x.jpg);
  }
}
