.subscribe-modal-picture {
  position: relative;
}

.subscribe-modal-title {
  margin-top: 169px;

}
.subscribe-modal-img {
  position: fixed;
  width: 311px;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
}
.subscribe-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.subscribe-modal-title-span {
  color: var(--accent-color);
}
.subscribe-modal-close-btn {
  position: absolute;
  top: 15px;
  right: 14px;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: transparent;
  border: none;
}
.subscribe-modal-close-icon {
  stroke: var(--first-color);
  width: 24px;
  height: 24px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-modal-close-btn:hover > .subscribe-modal-close-icon,
.subscribe-modal-close-btn:focus > .subscribe-modal-close-icon {
  stroke: var(--accent-color);
  width: 34px;
  height: 34px;
}

.subscribe-email-form {
  display: flex;
}
.subscribe-email-input {
  width: 263px;
  height: 45px;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  padding: 14px 18px;
  background-color: transparent;
  outline: transparent;
  color: var(--input-text-color);
  border: 1.5px solid var(--border-color);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}

.subscribe-email-input::placeholder {
  color: var(input-text-color);
}

.subscribe-form-btn {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  min-width: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  border: none;
  border-radius: 100px;
  color: var(--first-color);
  background: var(--accent-color);
  transition: background-color var(--transition-btn),
    color var(--transition-btn);
}
.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  color: var(--accent-color);
  background-color: var(--background-color-hero);
}

@media screen and (min-width: 768px) {
  .subscribe-modal-title {
      margin-top: 196px;
  
    }
  .subscribe-modal-picture {
    position: relative;
  }
  .subscribe-modal-img {
    position: fixed;
    width: 538px;
    max-height: 196px;
    top: 0;
    left: 0;
    border-radius: 15px 15px 0 0;
  }
  .subscribe-modal-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .subscribe-modal-close-btn {
    top: 24px;
    right: 24px;
    padding: 7px;
  }
  .subscribe-modal-close-icon {
    width: 28px;
    height: 28px;
  }
  .subscribe-modal-close-btn:hover > .subscribe-modal-close-icon,
  .subscribe-modal-close-btn:focus > .subscribe-modal-close-icon {
    width: 40px;
    height: 40px;
  }
  .subscribe-email-form {
    display: flex;
    justify-content: space-between;
  }
  .subscribe-email-input {
    min-width: 313px;
    height: 52px;
    font-size: 18px;
    line-height: 1.22;
    padding: 14px 24px;
    border-radius: 30px;
  }
  .subscribe-form-btn {
    padding: 17px 33px;
    min-width: 137px;
    height: 52px;
    font-size: 14px;
    line-height: 1.21;
    right: 40px;
  }
}
