.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--helper-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 350px;
  background: var(--primary-background-color);
  border-radius: 15px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 201px 24px 32px 24px;
}
.subscribe-modal-picture {
  position: relative;
}
.subscribe-modal-img {
  position: fixed;
  width: 311px;
  top: 0;
  left: 0;
  border-radius: 15px 15px 0 0;
}
.subscribe-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 24px;
}
.subscribe-modal-title-span {
  color: var(--accent-color);
}
.subscribe-modal-close-btn {
  position: absolute;
  top: 15px;
  right: 14px;
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: transparent;
  border: none;
}
.subscribe-modal-close-icon {
  stroke: var(--first-color);
  width: 24px;
  height: 24px;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    width 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .subscribe-modal-close-btn:hover > .subscribe-modal-close-icon,
.subscribe-modal-close-btn:focus > .subscribe-modal-close-icon {
  stroke: var(--accent-color);
  width: 40px;
  height: 40px;
} */
.subscribe-email-form {
  display: flex;
}
.subscribe-email-input {
  width: 263px;
  height: 45px;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  padding: 14px 18px;
  background-color: transparent;
  outline: transparent;
  color: var(--input-text-color);
  border: 1.5px solid var(--border-color);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
}
.subscribe-form-btn {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 28px;
  min-width: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  border: none;
  border-radius: 100px;
  color: var(--first-color);
  background: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  color: var(--accent-color);
  background-color: var(--background-color-hero);
} */
