:root {
    --swiper-theme-color: #FD9222;
}

.list {
    list-style: none;
}
.our-products-title {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;  
    margin-bottom: 32px; 
    gap: 4px;     
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
}

.our-products-title-span {
    color: #FD9222;    
}

.swiper-wrapper {
    display: flex;    
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 335px !important;
    height: 364px !important;   
    background: #FFFFFF;;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;  
    margin-left: auto;
    margin-right: auto;
}

.first-item {
    margin: 0;    
}

.last-item {
    gap: 0;
    margin: 0;   
}

.our-products-card-description {
    margin-top: 8px;
}

.our-products-item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
}

.our-products-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;     
    letter-spacing: -0.02em;    
    color: rgba(17, 17, 17, 0.7);
}
 
.our-products-item-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 20px;
    gap: 14px;
    width: 94px;
    height: 33px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;       
    margin-top: 18px;
    color: #111111;
}

.swiper-button-prev, .swiper-button-next {
    appearance: none;
    visibility: hidden;
}

.swiper-pagination {
    bottom: auto !important;        
    height: 13px;
    display: flex;
    justify-content: center;
    margin-top: 20px;    
}    
    /*
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction
    */
.swiper-pagination-bullet {
    width: 13px;
    height: 13px;    
}

.swiper-pagination-bullet-active {
    width: 28px;
    height: 13px;   
    border-radius: 100px;
}
@media screen and (max-width: 768px) {
.swiper {
        width: 335px;        
    }
}

@media screen and (min-width: 768px) {

.our-products-title {     
    font-size: 24px;
    line-height: 28px;      
    }

.swiper-wrapper {
    gap: 18px;
    }
    
.swiper-slide {
    width: 270px !important;
    }

.swiper-pagination {
    margin-top: 32px;
}
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
.first-item {
    margin-left: 32px;
}
}


@media screen and (min-width: 1200px) {

    .swiper {
        width: 1136px;        
    }

    .swiper-wrapper {
        gap: 18px;
    }
}
