.list {
  list-style: none;
}

.link {
  text-decoration: none;
}


button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}