.reviews {
  background: #fafafa;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .reviews {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .container {
    max-width: 375px;
  }

  .section-subtitle {
    font-size: 20px;
    line-height: 1.2;
  }

  .reviews-button {
    min-width: 165px;
    min-height: 41px;
  }

  .reviews-card-info-wrapper {
    max-width: 375px;
  }
}

.reviews-container {
  text-align: center;
}

.section-subtitle {
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #111111;
  text-transform: uppercase;
}

.reviews .accent-color {
  color: var(--accent-color);
}

.reviews-item {
  position: relative;
  margin-top: 32px;
  padding-top: 42px;
}

.reviews-card-info-wrapper {
  min-height: 204px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 24px;
  padding-left: 18px;
  padding-right: 18px;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.reviews-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.reviews-card-name {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-card-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.swiper {
  /* width: 355px; */
  /* height: 320px; */
}

.swiper-pagination {
  position: static;
  margin-top: 20px;
  margin-bottom: 32px;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}

.swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 8px;
  background: var(--accent-color);
}

.reviews-button {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: var(--primary-text-color);

  background-color: transparent;
  border: 1px solid #fd9222;
  border-radius: 100px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  color: var(--first-color);
  background-color: var(--accent-color);
}

/* ========== TABLET ========== */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    width: 736px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .reviews-card-info-wrapper {
    width: 344px;
  }
}

/* ========== TABLET & DESKTOP ========== */

@media screen and (min-width: 768px) {
  .reviews-button {
    min-width: 222px;
    min-height: 50px;
  }

  .section-subtitle {
    font-size: 24px;
    line-height: 1.17;
  }
}

/* ========== DESKTOP ========== */

@media screen and (min-width: 1200px) {
  .reviews {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .container {
    width: 1168px;
  }

  .reviews-card-info-wrapper {
    width: 360px;
  }
}
